# Container Types Intro

Container/Reference Types:

list
tuple
dictionary
set

In [1]:
fruits = ['apple','banana','cherry']
type(fruits)

list

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,0,]
type(numbers)

list

In [4]:
mixed = ['apple','banana',1,'cherry',True]
type(mixed)

list

In [12]:
m = ['a','b','c','d']
print(m[0:2])

['a', 'b']

In [13]:
list("abcd")

['a', 'b', 'c', 'd']

In [14]:
list(m)

['a', 'b', 'c', 'd']

In [15]:
m == list("abcd")

True

In [22]:
m is list("abcd")
a = print(id(list("abcd")))
b = print(id(m))

2534007574912
2534006986304

In [23]:
a != b

False

In [24]:
a == b

True

In [32]:
my_str = 'abcd' + 'jyjh'
print(my_str)

abcdjyjh

In [34]:
my_str.split('')

ValueError: empty separator

In [37]:
x = [
        [1, 2], 
        [3, 4]
    ]
y = x.copy()

z = x[0].append(x)

print(x)
print(y)
print(z)

[[1, 2, [...]], [3, 4]]
[[1, 2, [[...], [3, 4]]], [3, 4]]
None

In [46]:
x = 0
while (x < 100):
  x+=2
print(x)

100

In [51]:
for num in range(-2,-5,-2):
    print(num, end=", ")

-2, -4,

In [55]:
for num in range(10,14):
    for i in range(2, num):
        print(num)
        break

10
11
12
13

### List Methods

+   append()
+   clear()
+   copy()
+   count()
+   extend()
+   index()
+   insert()
+   pop()
+   remove()
+   reserve()
+   sort()

In [1]:
fruits = ['apple', 'ananas', 'banana', 'apple',]
fruits.append('cherry')
fruits

['apple', 'ananas', 'banana', 'apple', 'cherry']

In [26]:
fruits.count("apple")

0

In [27]:
fruits

[]

In [28]:
fruits.extend(["melon", "ananas"])
fruits

['melon', 'ananas']

In [29]:
fruits

['melon', 'ananas']

In [30]:
fruits.index("ananas", fruits.index("ananas") + 1)

ValueError: 'ananas' is not in list

In [31]:
fruits.index("ananas", 2)

ValueError: 'ananas' is not in list

In [32]:
print(fruits)

print(fruits.pop())
fruits

['melon', 'ananas']
ananas

['melon']

In [40]:
fruits.extend(['melon', 'ananas'])
fruits

['melon', 'melon', 'melon', 'melon', 'melon', 'ananas']

In [44]:
fruits.remove("melon")
fruits

['melon', 'ananas']

In [48]:
fruits.reverse()
fruits

['ananas', 'melon']

In [49]:
fruits.sort()
fruits

['ananas', 'melon']

In [52]:
fruits.sort()
fruits

['ananas', 'melon']

In [56]:
fruits.extend(["banana", "a", "ananas", "ab"])
print(fruits)

['ananas', 'melon', 'banana', 'a', 'ananas', 'ab', 'banana', 'a', 'ananas', 'ab', 'banana', 'a', 'ananas', 'ab']

In [61]:
fruits = ['banan','apple','limons']

In [62]:
sorted(fruits, key=lambda x: len(x))

['banan', 'apple', 'limons']

In [67]:
numbers = [5,4,7,5,45,4,87,87,8]

In [69]:
sorted(numbers, key=lambda r: abs(r))
numbers

[5, 4, 7, 5, 45, 4, 87, 87, 8]

In [70]:
l = [1, True, 'apple', None, 5.6]
l

[1, True, 'apple', None, 5.6]

### Tuple

In [74]:
a = (1, 2, 3, True)
type(a)

tuple

In [75]:
len(a)

4

In [81]:
b = (False," ")
type(b)

tuple

In [90]:
a[1:10]

(2, 3, True)

In [93]:
tuple([9])

(9,)

In [94]:
a[0]

1

In [95]:
a[0] = 2

TypeError: 'tuple' object does not support item assignment

In [97]:
x = '784512154'
x[0] = 8

TypeError: 'str' object does not support item assignment

+   Append
+   Sort
+   pop
+   remove 
+   extend
+   reverse
+   insert = mutate

+   index
+   count

In [4]:
person1 = ('John', 'Doe', 40)

grades = [40, 50, 70]


import sqlite3

con = sqlite3.connect('chinook.db')
cur = con.cursor()

cur.execute("SELECT * FROM albums")
albums = cur.fetchall()

OperationalError: no such table: albums