# Container Types Intro

Container/Reference Types:

list
tuple
dictionary
set

In [1]:
fruits = ['apple','banana','cherry']
type(fruits)

list

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,0,]
type(numbers)

list

In [4]:
mixed = ['apple','banana',1,'cherry',True]
type(mixed)

list

In [12]:
m = ['a','b','c','d']
print(m[0:2])

['a', 'b']

In [13]:
list("abcd")

['a', 'b', 'c', 'd']

In [14]:
list(m)

['a', 'b', 'c', 'd']

In [15]:
m == list("abcd")

True

In [22]:
m is list("abcd")
a = print(id(list("abcd")))
b = print(id(m))

2534007574912
2534006986304

In [23]:
a != b

False

In [24]:
a == b

True

In [32]:
my_str = 'abcd' + 'jyjh'
print(my_str)

abcdjyjh

In [34]:
my_str.split('')

ValueError: empty separator

In [37]:
x = [
        [1, 2], 
        [3, 4]
    ]
y = x.copy()

z = x[0].append(x)

print(x)
print(y)
print(z)

[[1, 2, [...]], [3, 4]]
[[1, 2, [[...], [3, 4]]], [3, 4]]
None

In [46]:
x = 0
while (x < 100):
  x+=2
print(x)

100

In [51]:
for num in range(-2,-5,-2):
    print(num, end=", ")

-2, -4,

In [55]:
for num in range(10,14):
    for i in range(2, num):
        print(num)
        break

10
11
12
13

### List Methods

+   append()
+   clear()
+   copy()
+   count()
+   extend()
+   index()
+   insert()
+   pop()
+   remove()
+   reserve()
+   sort()

In [1]:
fruits = ['apple', 'ananas', 'banana', 'apple',]
fruits.append('cherry')
fruits

['apple', 'ananas', 'banana', 'apple', 'cherry']

In [26]:
fruits.count("apple")

0

In [27]:
fruits

[]

In [28]:
fruits.extend(["melon", "ananas"])
fruits

['melon', 'ananas']

In [29]:
fruits

['melon', 'ananas']

In [30]:
fruits.index("ananas", fruits.index("ananas") + 1)

ValueError: 'ananas' is not in list

In [31]:
fruits.index("ananas", 2)

ValueError: 'ananas' is not in list

In [32]:
print(fruits)

print(fruits.pop())
fruits

['melon', 'ananas']
ananas

['melon']

In [40]:
fruits.extend(['melon', 'ananas'])
fruits

['melon', 'melon', 'melon', 'melon', 'melon', 'ananas']

In [44]:
fruits.remove("melon")
fruits

['melon', 'ananas']

In [48]:
fruits.reverse()
fruits

['ananas', 'melon']

In [49]:
fruits.sort()
fruits

['ananas', 'melon']

In [52]:
fruits.sort()
fruits

['ananas', 'melon']

In [56]:
fruits.extend(["banana", "a", "ananas", "ab"])
print(fruits)

['ananas', 'melon', 'banana', 'a', 'ananas', 'ab', 'banana', 'a', 'ananas', 'ab', 'banana', 'a', 'ananas', 'ab']

In [61]:
fruits = ['banan','apple','limons']

In [62]:
sorted(fruits, key=lambda x: len(x))

['banan', 'apple', 'limons']

In [67]:
numbers = [5,4,7,5,45,4,87,87,8]

In [69]:
sorted(numbers, key=lambda r: abs(r))
numbers

[5, 4, 7, 5, 45, 4, 87, 87, 8]

In [70]:
l = [1, True, 'apple', None, 5.6]
l

[1, True, 'apple', None, 5.6]

### Tuple

In [74]:
a = (1, 2, 3, True)
type(a)

tuple

In [75]:
len(a)

4

In [81]:
b = (False," ")
type(b)

tuple

In [90]:
a[1:10]

(2, 3, True)

In [93]:
tuple([9])

(9,)

In [94]:
a[0]

1

In [95]:
a[0] = 2

TypeError: 'tuple' object does not support item assignment

In [97]:
x = '784512154'
x[0] = 8

TypeError: 'str' object does not support item assignment

+   Append
+   Sort
+   pop
+   remove 
+   extend
+   reverse
+   insert = mutate

+   index
+   count

In [6]:
import sqlite3

# Ma'lumotlar bazasiga ulanish
con = sqlite3.connect('chinook.db')
cur = con.cursor()

# Jadvalni yaratish (agar u mavjud bo'lmasa)
cur.execute('''
CREATE TABLE IF NOT EXISTS albums (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    artist_id INTEGER NOT NULL
);
''')

# Jadvaldan ma'lumotlarni olish
cur.execute("SELECT * FROM albums")
albums = cur.fetchall()

# Natijani ko'rsatish
print(albums)

# O'zgarishlarni saqlash va ulanishni tugatish
con.commit()
con.close()

[]

In [7]:
type(albums)

list

In [9]:
albums[0]

IndexError: list index out of range

In [10]:
type(())

tuple

In [11]:
a,b=divmod(20,3)
a

6

In [6]:
id, title, artist_id = (5, 'For Those About To Rock We Salute You',2)
artist_id

2

### Dictionary

In [8]:
person = {'name': "John",'email': 'john@gmail.com','age': 50}

In [11]:
type(person)

dict

In [13]:
person['name']

'John'

In [14]:
person['email']

'john@gmail.com'

In [15]:
person.keys()

dict_keys(['name', 'email', 'age'])

In [17]:
person.values()

dict_values(['John', 'john@gmail.com', 50])

In [18]:
person.items()

dict_items([('name', 'John'), ('email', 'john@gmail.com'), ('age', 50)])

In [20]:
dict([('name', 'John'), ('email', 'john@gmail.com'), ('age', 50)])

{'name': 'John', 'email': 'john@gmail.com', 'age': 50}

In [23]:
person1 = dict(name = 'Feruz', age = '18')
person1

{'name': 'Feruz', 'age': '18'}

In [26]:
person['lname'] = "doe"

In [27]:
person

{'name': 'John', 'email': 'john@gmail.com', 'age': 50, 'lname': 'doe'}

In [32]:
{
    1: "dfs",
    True: 'adfg'
}

{1: 'adfg'}

In [35]:
k1 = 1
k2 = False
k3 = 'key3'
k4 = (1, 2, 3)

d1 = {
    k1: 'a',
    k2: 'ab',
    k3: 'abc',
    k4: 'abcd'
}

d1

{1: 'a', False: 'ab', 'key3': 'abc', (1, 2, 3): 'abcd'}

In [36]:
d1[(1, 2, 3)]

'abcd'

In [37]:
k1 = 1
k2 = False
k3 = 'key3'
k4 = ([1, 2], [2, 3], [3, 4])

d2 = {
    k1: 'a',
    k2: 'ab',
    k3: 'abc',
    k4: 'abcd'
}

d2

TypeError: unhashable type: 'list'

In [38]:
hash("Hello")

-2965107521055099968

In [43]:
hash((1,2))

-3550055125485641917

In [48]:
a1 = {
    'a': 1,
    'b': 2
}

a1.update({'c': 3, 'a': 5})

In [49]:
a1

{'a': 5, 'b': 2, 'c': 3}

### Set

In [52]:
letters = {'a','b','c','a','a','b',}
type(letters)

set

In [57]:
a = letters
a

{'a', 'b', 'c'}

In [60]:
list(set(a))

['b', 'a', 'c']

In [72]:
for a in letters:
    print(a)

b
a
c

In [73]:
s1 = {'a','b','c'}
s2 = {'r','a','b'}

In [74]:
s1

{'a', 'b', 'c'}

In [75]:
s2

{'a', 'b', 'r'}

In [76]:
s1|s2

{'a', 'b', 'c', 'r'}

In [77]:
s1.difference(s2)

{'c'}

In [78]:
s1-s2

{'c'}

In [80]:
s2.difference(s1)

{'r'}

In [81]:
s1.symmetric_difference(s2)

{'c', 'r'}

In [86]:
s1^s2

{'c', 'r'}

In [87]:
"Apple" in ["apple", "banana"]

False

Named Tuple

In [88]:
from collections import namedtuple

RGB = (200 , 100, 230)

In [89]:
color = namedtuple("color", ['red','green','blue'])

white = color(255,255,255)
black =(0,0,0)
green = (0,255,0)

In [92]:
c = color(200,30,10)
c

color(red=200, green=30, blue=10)

In [93]:
c[2]

10

In [94]:
type(green)

tuple

In [95]:
isinstance(green, tuple)

True

In [96]:
isinstance(green, list)

False